/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("icon.woff2") format('woff2');
}

.rc-icon{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar{
background: transparent;
width: 0px !important;
height: 0px !important;
display: none;
position: absolute;
z-index: -99999999;
}
*::-webkit-scrollbar-thumb{
background: transparent;
width: 0px !important;
height: 0px !important;
display: none;
position: absolute;
z-index: -99999999;
}
*::-webkit-scrollbar-track{
background: transparent;
width: 0px !important;
height: 0px !important;
display: none;
position: absolute;
z-index: -99999999;
}
