@import url("icon.css");

:root{
--wtext: #f8fffe;
--wbg: #dbdcde;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
user-select: none;
font-family: Arial;
overflow: hidden;
}
img{
pointer-events: none;
}
body{
width: 100vw;
height: 100vh;
background-image: url("../img/indexbg.png");
background-size: cover;
background-color: #535763;
background-repeat: no-repeat;
font-family: Arial;
overflow: hidden;
display: none;
}
.display > *:not(#nav){ 
opacity: 0.9;
filter: brightness(90%) blur(2px);
}
.dev-blur > *:not(#dev) { 
visibility: hidden;
}
.edit-blur > *:not(#editor_select) { 
visibility: hidden;
}






/* loader */
#loader{
width: 100%;
height: 100vh;
position: absolute;
z-index: 99;
background: #274054;
display: flex;
align-items: center;
justify-content: center;
}
#loader img{
width: 200px;
}

/* navbar */
#nav-toggler{
font-size: 35px;
font-weight: 400 !important;
margin: 0.85rem 0.65rem;
color: var(--wtext);
}

#nav{
width: 250px;
height: 100vh;
position: fixed;
top: 0;
left: -100%;
transition: left 0.5s;
z-index: 9;
background: var(--wtext);
overflow: scroll !important;
}
#nav-head{
width: 100%;
background: url("../img/indexmenubg.png");
background-size: 100% 100%;
display: flex; 
flex-direction: column;
justify-content: center;
padding: 2.6rem 1.5rem;
}
#nav-head h2{
color: var(--wtext);
font-weight: 401;
letter-spacing: 0.5px;
margin-top: 10px;
font-size: 18px;
}
#nav-head img{
width: 50px;
border-radius: 100%;
}

#nav-foot{
width: 100%;
}
#nav-foot h1{
font-weight: 400;
font-size: 14.1px;
display: flex; 
align-items: center;
margin: 1.2rem 1rem;
}
#nav-foot h1 i{
font-size: 24px;
margin-right: 1rem;
color: #4a6570;
}
#nav-foot p{
font-weight: 400;
font-size: 14px;
opacity: 0.7;
border-top: 0.8px solid #cacaca;
padding: 0.65rem 1rem;
}
.premium{
color: #d39c12 !important;
}

@media(min-width:768px){
#nav{
left: 0;
}				
#nav-toggler{
display: none;
}
}











/* first section */
#first{
width: 100%;
margin-top: 1.3rem;
padding: 0 1rem;
}
#row_row{
display: flex;
overflow: scroll;
}
#first h1{
color: var(--wtext);
font-weight: 401;
}


#row{
width: 100%;
display: flex; 
margin-top: 0.5rem;
}
#row-card{
width: 280px;
display: flex;
}
#row-card img{
width: 110px;
}
#row-card div{
display: flex; 
flex-direction: column;
background: var(--wbg);
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
padding: 8px 14px 8px 10px;
}
#row-card div h2{
font-size: 15px;
color: #222429;
font-weight: 401;		
line-height: 1.4;
}
#row-card div p{
font-size: 13.5px;
font-weight: 400;		
line-height: 1.4;
color: #535763;
}

@media(min-width: 768px){
#first{
margin-left: 260px;
padding-top: 3rem;
}
}









/* second section */
#second{
width: 100%;
position: absolute;
bottom: 1rem;
display: flex; 
flex-direction: column;
align-items: flex-end;
padding: 0 1rem;
}
#menu-items{
display: none; 
flex-direction: column;
}
.row-two-card{
width: 250px;
display: flex; 
align-items: center;
justify-content: flex-start;
background: var(--wbg);
border-radius: 100px;
padding: 10px 1.5rem;
margin: 0.5rem 0;
}
.row-two-card i{
font-size: 28px;
color: #535763;
font-weight: 40 !important;
}
.row-two-card h2{
font-size: 15px;
color: #535763;
font-weight: 401;
margin-left: 1rem;
}





.row-two-card2{
width: 200px;
display: flex; 
align-items: center;
justify-content: center;
background: #293f54;
border-radius: 100px;
padding: 12px 1.5rem;
margin: 0.5rem 0;
box-shadow: 0px 2px 1px 0.1px #191919;
}
.row-two-card2 i{
font-size: 22px;
color: var(--wtext);
font-weight: 40 !important;
opacity: 0.85;
}
.row-two-card2 h2{
font-size: 19.6px;
color: var(--wtext);
opacity: 0.85;
font-weight: 401;
margin-right: 1rem;
}


@media(min-width: 768px){
#menu-items{
display: flex; 
}				
.row-two-card2{
display: none; 
}
}







/* dev card div */
#dev{
width: 90%;
background: #293f54;
border-radius: 6px;
display: none; 
flex-direction: column;
justify-content: center;
padding: 1.2rem 1.5rem;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
z-index: 88;
box-shadow: 0px 2px 4px #171717;
}
#dev-head{
width: 100%;
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
}
#dev-head img{
width: 120px;
height: 120px;
border-radius: 100%;	
border: 5px double #000;	
margin: 0 auto;
}
#dev-head h1{
font-size: 22px;
color: var(--wtext);
margin-bottom: 0.2rem;
}
#dev-head h2{
font-size: 14px;
color: var(--wtext);
opacity: 0.6;
font-weight: 400;
}



#dev p{
margin-top: 1.5rem;
color: var(--wtext);
font-size: 15.5px;
line-height: 1.42;
opacity: 0.7;
}
#dev-span{
opacity: 1 !important;
font-weight: 600 !important;
color: #00ffff !important;
}


#dev-foot{
margin-top: 1.5rem;
display: flex; 
flex-direction: column;
}
#dev-foot span{
color: var(--wtext);
margin-bottom: 0.4rem;
}
#dev-foot a{
text-decoration: none;
margin: 0.2rem 0;
color: #e6e6e6;
font-weight: 401;
display: flex; 
align-items: center;
opacity: 0.6;
}
#dev-foot a i{
color: #fff !important;
margin-right: 0.4rem;
}


#dev-close{
font-size: 26px;
padding: 5px;
border-radius: 100%;
border: 2px solid var(--wtext);
color: var(--wtext);
position: absolute;
top: 10px;
right: 10px;
opacity: 0.7;
}
@media(min-width: 600px){
#dev{
width: 70%;
}				
}
@media(min-width: 700px){
#dev{
width: 60%;
}				
}
@media(min-width: 800px){
#dev{
width: 50%;
}				
}






/* editor selector */
#editor_select{
width: 260px;
background: #293f54;
border-radius: 6px;
padding: 1.2rem 1.5rem 0.5rem 1.5rem;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
z-index: 88;
box-shadow: 0px 2px 4px #171717;
display: none; 
flex-direction: column;
}
#editor_select_row{
display: flex; 
flex-direction: row !important;
width: 100%;
justify-content: space-between !important;
align-items: center;
background: transparent !important;
}
#editor_select h1{
font-size: 18px;
color: var(--wtext);
margin-bottom: 1.2rem;
text-align: center;
}
#editor_select div{
display: flex; 
flex-direction: column;
align-items: center;
justify-content: center;
padding: 10px 15px;
border-radius: 5px;
background: rgba(0,0,0,0.18);
transition: all 0.1s;
}
#editor_select div:hover{
background: rgba(0,0,0,0.4);
}

#editor_select div img{
width: 50px;
height: 50px;
border-radius: 100%;
}
#editor_select div p{
font-size: 16px;
color: var(--wtext);
opacity: 0.5;
margin-top: 6px;
}








/* Settings div */
#set_div{
width: 100%;
height: 100vh;
position: fixed;
z-index: 999;
top: 0;
left: 0;
background: #f2f3f7;
display: none;
overflow: scroll !important;
padding-top: 60px;
}
#set_div_nav{
width: 100%;
background: #535763;
height: 60px;
display: flex; 
padding: 0 15px;
align-items: center;
position: fixed;
top: 0;
z-index: 1000;
}
#set_div_nav i{
font-size: 24px;
font-weight: 400;
color: #fff;
}
#set_div_nav h1{
font-size: 19px;
font-weight: 401;
color: #000;
margin-left: 1rem;
opacity: 0.6;
margin-top: 2px;
}

#set_div_row{
background: transparent;
width: 100%;
display: flex; 
flex-direction: column;
padding: 0 15px 5px 15px;
}
#set_div_card{
width: 100%;
background: #fff;
padding: 18px 16px;
border-radius: 6px;
margin: 15px auto 0 auto;
box-shadow: 0px 1px 2px #d3d3d3;
display: flex; 
align-items: center;
justify-content: space-between;
}
#set_div_card p{
font-weight: 400.80;
font-size: 15px;
color: #000;
}
#set_div_card i{
font-weight: 600;
font-size: 22px;
color: #000;
}
@media(min-width: 600px){
#set_div_row{
flex-direction: row;
justify-content: space-between;
}				
#set_div_card{
margin: 15px;
}
}






#set_div_tog{
width: 40px;
height: 17px;
border-radius: 60px;
display: flex; 
align-items: center;
justify-content: flex-start;
background: #cdd5d8;
overflow: visible;
transition: all 0.3s;
}

#set_div_tog div{
width: 23px;
height: 23px;		
border-radius: 100%;	
background: #405b66;
}









#set_div_theme_div{
width: 90%;
display: none;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
padding: 1rem 0;
margin: 0 auto;
}
#set_div_theme{
width: 100%;
background: #fff;
box-shadow: 0px 3px 5px #d3d3d3;	
border-radius: 8px;
margin: 0 auto 1rem auto;
overflow-x: scroll !important;
}
#set_div_theme img{
width: 100%;
padding: 1rem;
background: #000;
box-shadow: 0px 3px 5px #fff;
}
#set_div_theme div{
width: 100%;
display: flex; 
justify-content: space-between;
padding: 1rem 1.2rem;
}
#set_div_theme div h1{
font-size: 15px;
color: #405b66;
font-weight: 600;
}
#set_div_theme div h1:after{
content: "Apply";
color: #405b66;
}
.theme_applied{
color: #cdd5d8;
}
.theme_applied:after{
content: "Applied" !important;		
color: #cdd5d8 !important;
}


@media(min-width: 600px){
#set_div_theme{
width: 40%;
}				
}




